<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <meta-data
            android:name="com.morlunk.leeroy.JENKINS_URL"
            android:value="${JENKINS_URL}" />
        <meta-data
            android:name="com.morlunk.leeroy.JENKINS_BUILD"
            android:value="${JENKINS_BUILD}" />
    </application>
</manifest>
