<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2015 Andrew Comminos <andrew@morlunk.com>
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- A boolean value indicating whether Leeroy should manage this app. -->
        <meta-data
            android:name="com.morlunk.leeroy.SUPPORTED"
            android:value="${LEEROY_SUPPORTED}" />

        <!-- The Jenkins build number of this app. Used to determine updates. -->
        <meta-data
            android:name="com.morlunk.leeroy.JENKINS_BUILD"
            android:value="${JENKINS_BUILD}" />

        <!-- The URL of the Jenkins job that this app was built by. -->
        <meta-data
            android:name="com.morlunk.leeroy.JENKINS_URL"
            android:value="${JENKINS_URL}" />

        <!-- A regular expression matching the relative path of the artifact to retrieve. If
             multiple artifacts match this regex, the first matched will be installed. -->
        <meta-data
            android:name="com.morlunk.leeroy.JENKINS_ARTIFACT_PATH"
            android:value="app/build/outputs/apk/app-jenkins-debug\\.apk" />
    </application>
</manifest>
